* {
  margin: 0;
  padding: 0;
  box-sizing: border_box;
}

body {
font-family: Arial, sans-serif;
background_color: 596fc9;

.linkboxes {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  padding:10px;

.linkbox {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out;

.linkbox:hover {
  background-color: ad74c2;
  transform: translateY(-2px) scale(1.35);

.link {
  transition: transform 0.2s  ease;

.link:hover {
  transform: scaleX(1.5)
  background-color: ff0000
